:root {
  --blue: #0188df;
  --black: #354046;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--black);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

section {
  overflow: hidden;
}

.header-active {
  background: #fff;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
}

.heading {
  text-align: center !important;
  font-size: 5rem;
  padding: 1rem;
  padding-top: 2rem;
  color: var(--black);
}

.heading:hover{
  color: rgb(13, 0, 131);
}

/*Button setting start*/

.button {
  height: 3.5rem;
  width: 15rem;
  background: var(--blue);
  color: #fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin: 1rem 0;
}

.button::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  z-index: -1;
  transition: 0.4s linear;
}

.button:hover:before {
  top: 0%;
}

.button:hover {
  box-shadow: 0.1rem 0.1rem var(--blue), 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

/*Button setting end*/

.heading sapn{
  color: var(--blue);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  z-index: 1000;
  background-color: rgb(75, 253, 223);
}

header a {
  color: var(--black);
}

header a:hover {
  color: var(--blue);
  border-bottom: 0.4rem dotted black;
  padding-bottom: 5px;
 
}

header .cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .cont .logo {
  font-size: 3rem;
  padding-left: 2rem;
  font-weight: 400;
}
/*Not used full below*/
header.cont .logo .mark {
  color: var(--blue);
}
/*Above*/
.mark {
  color: var(--blue);
}

header .nav ul {
  padding-right: 3rem;
  margin: 0;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .nav ul li {
  margin: 0 2rem;
  font-weight: 400;
}

header .nav ul li a {
  font-size: 2rem;
}

header .fa-bars {
  font-size: 3.5rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
}

/*Home Section*/

.home .content{
  text-align: center;
  top: 0;
  left: 0;
  transform: translate(0,50%);
  margin-bottom: 15rem;
}

.home .content h1 {
  font-size: 5rem;
  color: var(--black);
}

.home img{
  padding: 4rem 0 0 2rem;
  margin-top: 2rem;
  margin-left: 0;

}

.home .content h1 span {
  color: var(--blue);
}

.home .content h3 {
  font-size: 4rem;
  color: var(--black);
  font-weight: 400;
}

/*Aboit Secton*/

.about {
  background: #fff;
}

.about .content{
line-height: 3rem;
padding-right: 5rem;

}
.about .content .box {
  margin: 3rem 0;
}

.about .content .box h3 {
  font-size: 2.5rem;
  color: var(--black);
}

.about .content .box h3 i {
  padding: 0 1rem;
  color: var(--blue);
}

.about .content .box p {
  font-size: 1.7rem;
  padding-left: 6rem;
  color: #666;

}

.about .img{
  margin-left: 5rem;
}

/*Facilitys Section*/

.facility {
  min-height: 100vh;
}

.facility .box-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.facility .box-cont .box {
  height: 20rem;
  width: 30rem;
  margin: 2rem ;
  overflow: hidden;
 
  
}

.facility .box-cont .box:hover{
  border: 2px solid gray;
}

.facility .box-cont .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.facility .box-cont .box:hover img {
  transform: scale(1.3);
  background-size: cover;
 
}



/*Review Section*/

.review {
  background: url(img/Review\ back\ ground.jpg), no-repeat;
  background-size: cover;
  background-position: center;
}

.review .heading {
  color: rgb(12, 12, 12);
}

.review .box-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.review .box-cont .box {
  background: #fff;
  width: 30rem;
  margin: 5rem 1rem;
  padding: 1.5rem;
  position: relative;
}

.review .box-cont .box img {
  position: absolute;
  bottom: -7.5rem;
  left: -1rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.review .box-cont .box p {
  font-size: 1.4rem;
  color: var(--black);
}

.review .box-cont .box h3 {
  text-align: end;
  color: var(--blue);
  margin-top: 1rem;
  
}

.review .box-cont .box h3 span {
  text-align: end;
  color: var(--black);

  font-size: 1.5rem;
}

.review .box-cont .box::before {
  content: "";
  position: absolute;
  padding: -1rem;
  left: 0.4rem;
  height: 2rem;
  width: 2rem;
  background: #fff;
  transform: rotate(45deg);
}


/*Contact form*/

.contact {
  background: var(--black);
}

.contact h1 {
  color: #fff;
  text-align: center;
}

.contact form {
  text-align: center;
}
.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input,
select {
  height: 4rem;
  width: 49%;
  padding: 0 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: var(--black);
}

#nbtn{
  margin: 4rem;
  word-spacing: 5px;
  width: 25rem;
 
}



.contact form textarea {
  height: 20rem;
  resize: none;
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;
}

.contact form input[type="submit"] {
  width: 20rem;
}

.contact form input[type="submit"]:hover {
  background: var(--black);
}


/* Counter */

.counter .box-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.counter .box-cont .box {
  
  margin: 2rem 5rem;
  text-align: center;
}

.counter .box-cont .box i {
  color: var(--blue);
  font-size: 5rem;
}

.counter .box-cont .box i:hover{
  color: black;
  scale: 1.5;
}

.counter .box-cont .box span {
  color: var(--black);
  font-size: 3rem;
  display: block;
  padding: 1rem 0;
}

.counter .box-cont .box h3 {
  color: #666;
  font-size: 2rem;
}


/*Post Section*/

.post .box-cont{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.post .box-cont .box {
  width: 30rem;
  margin: 2rem 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  
}

.post .box-cont .box img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.post .box-cont .box .content {
  padding: 0 1.5rem;
}

.post .box-cont .box .content span {
  color: #666;
  font-size: 1.5rem;
  display: block;
  padding: 1rem 0;
}

.post .box-cont .box .content h3 {
  font-size: 2rem;
  color: var(--black);
}

.post .box-cont .box .content:hover h3 {
  color: var(--blue);
}

.post .box-cont .box .content p {
  font-size: 1.3rem;
  color: var(--black);
}


/*Footer*/

.footer{
  background: var(--black);
  margin-top: 5rem;

}

.footer p{
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;

}

.footer .col-md-4:nth-child(1) a{
  font-size: 3rem;
  color: #fff;

}

.footer .col-md-4:nth-child(1) a span{
  
  color: var(--blue);

}

.footer .box-cont{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer .box-cont .box {
  width: 30rem;
  margin: 2rem 1rem;
  
  
}

.mark{
  text-align: center;
}


.footer a{
  font-size: 2rem;
  color: #ccc;
  display: block;
}

.footer h3{
  color: #fff;
  font-size: 3rem;
}

.footer a:hover{
  color: var(--blue);
}

.footer .credit{
  color: #fff;
  font-size: 3rem;
  width: 80%;
  margin-top: 3rem !important;
  margin: 0 auto;
  padding: 2rem 0;
  padding-bottom: 4rem;
  border-top: .1rem solid #ccc !important;
  text-align: center;
}


.footer .credit span{
  color: var(--blue);
}

.footer .blogo span{
   color: #0188df;
   font-size: 3rem;
}

.footer .blogo{
  font-size: 3rem;
}
















header .fa-times {
  transform: rotate(180deg);
}

/*Media Quarry*/

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  header .fa-bars {
    display: block;
  }

  header .nav {
    position: fixed;
    top: -100rem;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
    
    
  
  }

 
}
